.vscode
env
instance
**/__pycache__
.pytest_cache
server.egg-info
*.db
sketches
build
src
dist
*.save
*.pyc
server.started

server/static/js/bower_components
server/static/js/node_modules
server/saves/saved_settings.json

start.bat
start.sh

.env