.vscode
env
instance
**/__pycache__
UIserver.egg-info
*.db
sketches
build
src
dist
*.save
*.pyc
server.started

UIserver/static/js/bower_components
UIserver/static/js/node_modules
UIserver/saves/saved_settings.json

start.bat
start.sh