.vscode
env
instance
**/__pycache__
.pytest_cache
server.egg-info
*.db
sketches
build
dist
*.save
*.pyc

server/saves/saved_settings.json

start.bat
start.sh

.env
node_modules

# server.started is a debug file to see if the server started automatically on boot (will create the file every time the server is started)
# this file is created only on linux
server.started