@import "../../../_colors.scss";

.preview-bar-container{
    //animation: pulse-queue-preview 1s infinite;
    //animation-direction: alternate;
    background-color: $dark;
}

.preview-bar-image{
    height:40px;
    max-height: 40px;
    position: relative;
    img{
        height: 100%;
    }
}

@keyframes pulse-queue-preview {
    0% {
        opacity: 70%;
    }
    100% {
        opacity: 100%;
    }
}
