#message_from_device{
    overflow: auto;
    width: 90%;
    height: 300px;
    background-color: var(--color-vlight);
    color: var(--color-darkest);
    padding: 5px;
    border-radius: 5px;
    margin:5px;
    margin-bottom:10px;
}

.right_block{
    padding-top: 100px;
    border-left: solid 1px var(--color-vlight);
    text-align: center;
}

#gcode_command{
    width: 50%;
    margin-left: 5px;
    height:32px;
}

#send_gcode_command{
    width: 39%;
    margin-left:1%;
}