{%extends "base.html"%}

{%block head%}
<style>
    .special-hide{
        display: none !important;
    }
</style>
<script>

    function document_ready(){
        setTimeout( check_server_available, 20000);
    }
    
    function check_server_available(){
        console.log("Checking server on")
        $.ajax(
            {
                type: "get",
                url: '/',
                cache: false,
                success: function (){
                    window.location.href = '/';
                },
                error: function (){
                    setTimeout(function() { check_server_available(); }, 1000);
                    console.log("Server not running")
                },
                async: true
        });
    };
</script>
{%endblock%}

{%block title%}System reboot{%endblock%}
{%block body%}
<div class="row w-100 h-100 d-flex">
    <div class="col-sm-12 h-100 w-100 center">
        <div class="d-flex align-self-center">
            <div>
                <div class="d-block"><h1>Rebooting... It may take a while... <br>If the page does not reload automatically click <a href="/" class="text-light">here</a>.</h1></div>
                <div class="center mt-5">
                    <div class="d-block spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}