@import "_colors";

/* Playlist style */

#playlist_name:hover, #playlist_name:focus{
    cursor: pointer;
    background-color: $primary;
    color: $dark;
}

.btn-cross{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: $dark;
    color: $primary;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s linear, opacity 0.1s linear;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 5px;
    cursor: pointer;
}

.show{
    opacity: 1;
    visibility: visible !important;
}

.sortable_ghost {
    opacity: 0.2;
}
.sortable_chosen div.btn-cross{
    display: none;
}

.control-card {
    background-color: black;
    height:100%;
    color: $light;
    font-weight: 700;
    font-size: 80px;
    height: 100%;
    width: 100%;
    @extend .center;
    transition: font-size pulse 2s infinite;
}

.control-card:hover{
    font-size: 120px;
}
