@import "_colors";

#playlist_name:hover, #playlist_name:focus{
    cursor: pointer;
    background-color: $primary;
    color: $dark;
}

.btn-cross{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: var(--color-darkest);
    color: var(--color-medium);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s linear, opacity 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 5px;
}

.sortable_ghost {
    opacity: 0.2;
}
.sortable_chosen div.btn-cross{
    display: none;
}
