<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{%endblock%}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="static/base_style.css">

    {% block head %}{%endblock%}
</head>
<body>

    <nav>
        <div class=wi>
            <div class=logo>
                <div style="display: inline-block;vertical-align: center;">SandyPi</div>
                <form method=post action="/settings" style="display: inline-block; vertical-align: center; float: right">
                    <button type="submit" class="dark_button" >Settings</button>
                </form>
            </div>
        </div>
    </nav>

    <div class=wi>
        {% block body %}{%endblock%}
    </div>

    <footer>
        <div class=wi>Here goes the footer</div>
    </footer>


    
</body>
</html>