<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{%endblock%}</title>
    <!--TODO insert the font on a local path to make the app independent from internet-->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='style/base_style.css')}}">
    <script src="{{url_for('static', filename='js/base.js')}}"></script>

    {% block head %}{%endblock%}
</head>
<body>
    <div id="floater">
        {%block floater%}{%endblock%}
    </div>

    <nav>
        <div class=wi>
            <div class=logo>
                <div style="display: inline-block;vertical-align: center;" onclick="home()"><span>Sandypi</span></div>
                <form method=post action="/settings" style="vertical-align: center; float: right">
                    <button type="submit" class="dark_button" >Settings</button>
                </form>
            </div>
        </div>
    </nav>

    <div class=wi>
        {% block body %}{%endblock%}
    </div>

    <div class="footer_spacer"></div>
    <footer>
        <div class=wi>Here goes the footer</div>
    </footer>


    
</body>
</html>