{%extends "base.html"%}

{%block title%}Manual control{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='style/manual_control.css')}}">
<script src="{{url_for('static', filename='js/manual_control.js')}}"></script>
{%endblock%}

{%block body%}
<div>
    <div>
        <h1>Manual control</h1>
        <h2>Gcode command: </h2>
        <div id="message_from_device"></div>
        <input id="gcode_command"></input>
        <button onclick="send_command()">Send command</button>
    </div>
    <div>
        <button onclick="send_command('M112')" title="Warning: this button will not stop the device during homing">EMERGENCY STOP</button>
        <button onclick="send_command('G28')">Home</button>
    </div>
</div>
<!-- TODO add button to move it manualy or launch specific gcodes/files (for example to make the referencing or run a cleaning script)-->
{%endblock%}