{%extends "base.html"%}

{%block title%}Manual control{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/manual_control.css')}}">
<script src="{{url_for('static', filename='js/manual_control.js')}}"></script>
{%endblock%}

{%block body%}
<div>
    <h1 class="section-header">Manual control</h1>
    <div class="row">
        <div class="col pt-2">
            <h3>Gcode command: </h3>
            <div id="message_from_device" class="bg-secondary border-radius-5 p-2 text-dark"></div>
            <div>
                <input id="gcode_command"></input>
                <button id="send_gcode_command" onclick="send_command()">Send command</button>
            </div>
        </div>
        <div class="col pt-2">
            <div>
                <canvas id="path_canvas" class="w-100 border-primary border-1"></canvas>
            </div>
            <div id="device_width" class="data">{{settings.dimensions.width}}</div>
            <div id="device_height" class="data">{{settings.dimensions.height}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col max-width-460-md">
            <button class="w-25 mr-3" onclick="send_command('M112')" title="Warning: this button will not stop the device during homing">EMERGENCY STOP</button>
            <button class="2-25" onclick="send_command('G28')">Home</button>

        </div>
    </div>
</div>
<!-- TODO add button to move it manualy or launch specific gcodes/files (for example to make the referencing or run a cleaning script)-->
{%endblock%}