{% extends "base.html" %}


{%block title%}Settings{% endblock %}
{%block head%}
<script src="{{url_for('static', filename='js/settings.js')}}"></script>
{%endblock%}

{%block body%}
<div>
    <h1 class="section-header">Settings</h1>
    <h2 class="p-relative d-block section-header">Device settings</h2>
    <h3 class="p-relative d-block">Serial port settings</h3>
    <div class="row mb-4">
        <div class="col">
            <span>Port number</span>
            <select id="serial_ports">
                {%for item in serial["available_ports"] %}
                <option>{{item}}</option>   <!-- TODO fix this -->
                {%endfor%}
            </select>
        </div>
        <div class="col">
            <span>Baudrate</span>
            <div id="saved_port" class="data">{{settings['serial']['port']}}</div>
            <select id="serial_baud">
                {%for item in serial["baudrates"]%}
                <option {% if settings['serial']['baud']==item %} selected="selected" {%endif%}value={{item}}>{{item}}</option>
                {%endfor%}
            </select>
            </div>
            <div class="col">
                <button onclick="save(true)">Connect</button>
            </div>
        </div>
        <h3>Dimensions</h3><!-- TODO should add type (rectangular or round/gcode or thr)-->
        <div class="row mb-4">
            <div class="col">
                <div>
                    <p class="d-block">Width</p>
                    <input id="device_width" value="{{settings.device.width}}"></input>
                </div>
            </div>
            <div class="col">
                <div>
                    <p class="d-block">Height</p>
                    <input id="device_height" value="{{settings.device.height}}"></input>
                </div>
            </div>
        </div>
        <h3>Scripts</h3>
        <div class="row mb-4">
            <div class="col">
                <div>
                    On connection:
                </div>
                <textarea class="w-100 m-1" id="script_connection">{{settings['scripts']['connection']}}</textarea>
            </div>
            <div class="col">
                <div>
                    Before new drawing:
                </div>
                <textarea class="w-100 m-1" id="script_before">{{settings['scripts']['before']}}</textarea>
            </div>
            <div class="col">
                <div>
                    After drawing:
                </div>
                <textarea class="w-100 m-1" id="script_after">{{settings['scripts']['after']}}</textarea>
            </div>
        </div>
    </div>
    <div class="center_h add_space_before mb-5">
        <button id="save_button" onclick="save()">Save settings</button>
    </div>
    <!-- TODO better management and layout for the settings. should save only the one changed and ask before leaving if at least one was changed (also, add a color change for the settings changed?)-->
</div>
{%endblock%}