{% extends "base.html"%}

{%block title%}Drawings{% endblock %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/management.css')}}">
<script src="{{url_for('static', filename='js/management.js')}}"></script>
{%endblock%}

{%block popup%}
    <div id="upload_dropzone">
        <div class="dz-message" data-dz-message>
            <span class="message_span">Drag and drop the .gcode/.nc file here <br>or click to open the file explorer</span>
            <div id="upload_progress">
                <div id="upload_progress_value">0%</div>
                <span id="upload_progress_bar"></span>
            </div>
        </div>
    </div>
    <button id="undo_upload" on_click="hide_dropzone()">Undo</button>
{%endblock%}

{%block body%}
<div>
    <!--TODO add a drop down menu to filter by date, name, etc...-->
    <!--TODO load file as scrolling instead of having multiple pages -->
    <div class="section-header">
        <h1 class="d-inline-block">Your drawings</h1>
        <button class="float-right" class="button" onclick="show_dropzone()">+ Upload drawing</button>
    </div>
    <div class="row">
        {%block grid_element%}{%endblock%}
    </div>
    <div class="text-center m-3">
        {%if not pages['prev'] == 0%}
        <form action="/drawings/{{pages['prev']}}" method="get" class="d-inline-block">
            <button type="submit">Previous page</button>
        </form>
        {%endif%}
        {%if pages['next'] <= pages['total']%}
        <form action="/drawings/{{pages['next']}}" method="get" class="d-inline-block">
            <button type="submit">Next page</button>
        </form>
        {%endif%}
    </div>
    <div class="text-center m-3 mb-5">
        <div id="page_num" class="d-inline-block">Page {{pages['this']}}/{{pages['total']}} - {{pages['limit']}} of {{pages['drawings']}} total drawings</div>
    </div>
</div>
{%endblock%}