{% extends "base.html"%}

{%block title%}Drawings{% endblock %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='style/management.css')}}">
<script src="{{url_for('static', filename='js/lib/Dropzone.js')}}"></script>
<script src="{{url_for('static', filename='js/management.js')}}"></script>
{%endblock%}

{%block floater%}
    <div id=floater_inner>
        <div id="upload_dropzone">
            <div class="dz-message" data-dz-message>
                <span class="message_span">Drag and drop the .gcode/.nc file here <br>or click to open the file explorer</span>
                <div id="upload_progress">
                    <div id="upload_progress_value">0%</div>
                    <span id="upload_progress_bar"></span>
                </div>
            </div>
        </div>
        <button id="undo_upload" on_click="hide_dropzone()">Undo</button>
    </div>
{%endblock%}

{%block body%}
<div>
    <!--TODO add a drop down menu to filter by date, name, etc...-->
    <div id="drawings">
        <h1 style="display:inline-block">Your drawings</h1>
        <button style="float:right; margin-top: 1.4em;" class="button" onclick="show_dropzone()">+ Upload drawing</button>
    </div>
    <div class="grid_container">
        {%block grid_element%}{%endblock%}
    </div>
    <div class="pages">
        {%if not pages['prev'] == 0%}
        <form action="/drawings/{{pages['prev']}}" method="get" class="redirect_form pages_component">
            <button type="submit" class="redirect_button">Previous page</button>
        </form>
        {%endif%}
        {%if pages['next'] <= pages['total']%}
        <form action="/drawings/{{pages['next']}}" method="get" class="redirect_form pages_component">
            <button type="submit" class="redirect_button">Next page</button>
        </form>
        {%endif%}
    </div>
    <div class="pages">
        <div id="page_num" class="pages_component">Page {{pages['this']}}/{{pages['total']}} - {{pages['limit']}} of {{pages['drawings']}} total drawings</div>
    </div>
</div>
{%endblock%}