{% extends "base.html"%}
{%block title%}{{item.name}}{% endblock %}}


{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/management.css')}}">

<script src="{{url_for('static', filename='js/node_modules/sortablejs/Sortable.js')}}"></script>

<script src="{{url_for('static', filename='js/management.js')}}"></script>
<script src="{{url_for('static', filename='js/playlist.js')}}"></script>
{%endblock%}

{%block body%}
<div id="playlist_id" class="data">{{item.id}}</div>
<div class="section-header mt-2">
    <h1 class="d-inline-block mr-3">Playlist name: </h1><h1 class="d-inline-block rounded p-1" id="playlist_name" contenteditable="true">{{item.name}}</h1>
</div>
<div class="row justify-content-md-center mt-3 mb-3">
    <button class="col" onclick="start_playlist('{{item.id}}')">Start playlist</button>
    <button class="col" onclick="save('{{item.id}}')">Save changes</button>
    <button class="col" onclick="show_dropzone('{{item.id}}')">+ Upload drawing</button>
    <button class="col" onclick="delete_playlist('{{item.id}}')">Delete playlist</button>
</div>
<div class="mb-5">
    <ul id="drawings_ul" class="row list-unstyled">
        {% for i in drawings%}
            <li id="sortable_li_{{i|string}}" class="col-lg-3 col-md-4 col-sm-6 col-xs-6 show-cross mb-3" title="Drag me around to sort the list">
                <div class="card hover-zoom">
                    <div class="card-img-overlay d-flex btn-cross" onclick="delete_drawing('{{i|string}}')" title="Remove this drawing from the list">X</div>
                    <img class="card-img-top" src = "{{ url_for('static', filename='Drawings/'+i|string+'/'+i|string +'.jpg')}}"/>
                    <div class="data">{{i|string}}</div>
                </div>
            </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}