{% extends "base.html"%}
{%block title%}{{item.name}}{% endblock %}}


{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='style/management.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style/playlist.css')}}">

<script src="{{url_for('static', filename='js/node_modules/sortablejs/Sortable.js')}}"></script>

<script src="{{url_for('static', filename='js/management.js')}}"></script>
<script src="{{url_for('static', filename='js/playlist.js')}}"></script>
{%endblock%}

{%block body%}
<div id="container">
    <div id="playlist_id" class="data">{{item.id}}</div>
    <div id="name_bar">
        <h1>Playlist name: </h1><h1 id="playlist_name" contenteditable="true">{{item.name}}</h1>
        <div id="playlist_right_container">
            <button onclick="save('{{item.id}}')">Save changes</button>
            <button onclick="show_dropzone('{{item.id}}')">+ Upload drawing</button>
            <button onclick="delete_playlist('{{item.id}}')">Delete playlist</button>
        </div>
    </div>
    <div>
        <ul id="drawings_ul" class="c4_grid_container">
            {% for i in drawings%}
            <li class="grid_element" title="Drag me around to sort the list">
                <img class="playlist_drawing_preview" src = "{{ url_for('static', filename='Drawings/'+i|string+'/'+i|string +'.jpg')}}"/>
                <div class="data">{{i|string}}</div>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}