{% extends "base.html"%}

{%block title%}Recent files{% endblock %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/management.css')}}">
<script src="{{url_for('static', filename='js/management.js')}}"></script>
{%endblock%}

{%block body%}
<div>
    <div id="drawings">
        <h1 style="display:inline-block">Your drawings</h1>
        <button style="float:right; margin-top: 1.4em;" class="button" onclick="show_dropzone()">+ Upload drawing</button>
    </div>
    <div class="c4_grid_container">
        {%block grid_element%}{%endblock%}
    </div>
    <div>
        <form action="/drawings" method="get" class="redirect_form">
            <button type="submit" class="redirect_button">More drawings</button>
        </form>
    </div>
</div>
<div>
    <div id="playlists">
        <h1 style="display:inline-block">Your playlists</h1>
        <button style="float:right; margin-top: 1.4em;" class="button" onclick="create_new_playlist()">+ Create new playlist</button>
    </div>
    <div class="c4_grid_container">
        {%block playlist_grid_element%}{%endblock%}
    </div>
    <div id="spacer"></div>
</div>
{%endblock%}