{% extends "base.html"%}

{%block title%}Recent files{% endblock %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/file_upload.css')}}">
<script src="{{url_for('static', filename='js/file_upload.js')}}"></script>
{%endblock%}

{%block body%}
<div>
    <div class="section-header">
        <h2 class="d-inline-block">Your drawings</h2>
        <button class="float-right" onclick="show_dropzone()">+ Upload drawing</button>
    </div>
    <div class="row">
        {%block grid_element%}{%endblock%}
    </div>
    <div class="text-center">
        <form action="/drawings" method="get">
            <button type="submit">More drawings</button>
        </form>
    </div>
</div>
<div>
    <div class="section-header">
        <h2 class="d-inline-block">Your playlists</h2>
        <button class="float-right" class="button" onclick="create_new_playlist()">+ Create new playlist</button>
    </div>
    <div class="row mb-5">
        {%block playlist_grid_element%}{%endblock%}
    </div>
</div>
{%endblock%}