{% extends "base.html"%}

{%block title%}Recent files{% endblock %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='style/management.css')}}">
<script src="{{url_for('static', filename='js/lib/Dropzone.js')}}"></script>
<script src="{{url_for('static', filename='js/management.js')}}"></script>
{%endblock%}

{%block floater%}
    <div id=floater_inner>
        <div id="upload_dropzone">
            <div class="dz-message" data-dz-message>
                <span class="message_span">Drag and drop the .gcode/.nc file here <br>or click to open the file explorer</span>
                <div id="upload_progress">
                    <div id="upload_progress_value">0%</div>
                    <span id="upload_progress_bar"></span>
                </div>
            </div>
        </div>
        <button id="undo_upload" on_click="hide_dropzone()">Undo</button>
    </div>
{%endblock%}

{%block body%}
<div>
    <div id="drawings">
        <h1 style="display:inline-block">Your drawings</h1>
        <button style="float:right; margin-top: 1.4em;" class="button" onclick="show_dropzone()">+ Upload drawing</button>
    </div>
    <div class="grid_container">
        {% for item in drawings %}
    <div class="grid_element" onclick="redirect_drawing('{{item.id}}')">
                <img src="{{ url_for('static', filename='Drawings/'+item.id|string+'/'+item.id|string +'.jpg')}}">
                <span>{{item.filename}}</span>
            </div>
        {% endfor %}
    </div>
    <div>
        <form action="/drawings" method="get" class="redirect_form">
            <button type="submit" class="redirect_button">More drawings</button>
        </form>
    </div>
</div>
<div>
    <div id="playlists">
        <h1 style="display:inline-block">Your playlists</h1>
        <button style="float:right; margin-top: 1.4em;" class="button" onclick="">+ Create new playlist</button>
    </div>
    <div class="grid_container">

    </div>
</div>
{%endblock%}