{% extends "base.html"%}

{%block title%}{{item.filename}}{% endblock %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='style/management.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style/single_drawing.css')}}">
<script src="{{url_for('static', filename='js/management.js')}}"></script>
<script src="{{url_for('static', filename='js/single_drawing.js')}}"></script>
{%endblock%}

{%block body%}
<div id="container">
    <h1>{{item.filename}}</h1>
    <div>
        <img src="{{ url_for('static', filename='Drawings/'+item.id|string+'/'+item.id|string +'.jpg')}}" id="drawing_preview">
    </div>
    <!--TODO add commands to modify the drawing-->
    <div class="buttons">
        <button onclick="drawnow('{{item.id}}')">Draw it now</button>
        <button onclick="delete_drawing('{{item.id}}')">Delete this drawing</button>
    </div>
</div>
{%endblock%}

{%block popup%}
<div class="dialog" onclick="dummy()">
    <div class="dialog_text">Are you sure?</div>
    <div class="dialog_buttons">
        <button onclick="undo()" class="dialog_button dark_button">Undo</button>
        <button onclick="confirm_delete('{{item.id}}')" class="dialog_button dark_button">Confirm</button>
    </div>
</div>
{%endblock%}