{%extends parent_template%}
{%block grid_element%}
{% for item in drawings %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2">
        <div class="card border-0 bg-primary text-dark clickable hover-zoom" onclick="redirect_drawing('{{item.id}}')">
            <img class="card-img-top rounded" src="{{ url_for('static', filename='Drawings/'+item.id|string+'/'+item.id|string +'.jpg')}}">
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end p-0">
                <div class="card-text text-center text-dark p-1 fade-top"></div>
                <div class="card-text text-center text-dark pb-1 bg-primary rounded-bottom">
                    {{item.filename}}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{%endblock%}


{%block playlist_grid_element%}
{%for item in playlists%}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2">
        <div class="card border-0 bg-primary text-dark clickable hover-zoom" onclick="redirect_playlist('{{item.id}}')">
            <div class="card-body">
                <h5 class="card-title text-center m-0">{{item.name}}</h5>
            </div>
        </div>
    </div>
{%endfor%}
{%endblock%}