:root{
    /* color palette: https://www.color-hex.com/color-palette/23053 */
    --color-medium: #29b474;
    --color-light: #35ea97;
    --color-darkest: #333333;
    --color-vlight: #aaaaaa;
    --color-white: #ffffff;
    --color-vlight-alpha: #aaaaaa77;
}

html{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

body {
    background-color: var(--color-darkest);
    color: var(--color-light);
    font-family: 'roboto', sans-serif;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto !important;
    height:100%;
    position: relative;
}

nav {
    background-color: var(--color-medium);
    color: var(--color-white);
    margin: auto;
    padding-top:1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    width:100%;
}

.wi{
    width: 900px;
    margin: 0 auto;
}

.logo{
    font-size: 3em;
    overflow: hidden;
}
.logo span{
    cursor: pointer;
}

footer{
    background-color: var(--color-medium);
    color: var(--color-white);
    position:absolute;
    width:100%;
    height:3em;   /* Height of the footer */
    bottom:3em;
    margin-bottom:-3em;
    padding-top: 1em;
    padding-bottom:0.3em;
}
.footer_spacer{
    height:5.5em;
}

button{
    background-color: var(--color-medium);
    color: var(--color-darkest);
    border-radius: 0.2em;
    padding: 0.5em;
    font-size: 0.5em;
    border:none;
    margin: auto;
    cursor: pointer;
    transition:0.15s;
}
button:hover{
    background-color: var(--color-vlight);
    transition: 0.15s;
    color: var(--color-darkest)
}

.dark_button{
    background-color: var(--color-darkest);
    color: var(--color-light);
}

#floater{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--color-vlight-alpha);
    color: var(--color-light);
    display: none;
    text-align: center;
}
