@import "base_style.css"; 

#drawings, #playlists{
    border-bottom: 1px solid var(--color-light);
    margin-bottom:10px;
}
#playlists{
    margin-bottom:5em;
}

.button{
    font-size: 1em;
}

.grid_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:20px;
}
.grid_element{
    width:100%;
    position:relative;
    display: block;
}
.grid_element img{
    width:100%;
    display:block;
}

.grid_element span{
    background-color: var(--color-vlight);
    text-align: center;
    width:100%;
    display: block;
    position: absolute;
    bottom:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-weight: bold;
    color: var(--color-darkest);
}

.redirect_form{
    text-align: center;
    margin-top:15px;
}
.redirect_button{
    font-size: medium;
}

.pages{
    text-align: center;
    margin-top:15px;
}
.pages_component{
    display: inline;
    margin:15px;
}

/* Dropzone defaults */

#upload_dropzone{
    width:100%;
    background-color: var(--color-vlight);
    border: 4px dashed var(--color-light);
    border-radius: 5px;
}

.dz-message{
    width:100%;
    height:100%;
    background-color: var(--color-vlight);
    color: var(--color-darkest);
    /*padding: 2em;*/
    min-height: 300px;
    background-color: #ffffff00;
    font-size: large;
    font-weight: 200;
    position:relative;
}

.message_span{
    position: absolute;
    top:40%;
    left:0%;
    width:100%;
    height:100px;
}

.dz-default{
    border-radius: 50px;
}
.dropzone.dz-clickable{
    cursor: pointer;
}

#undo_upload{
    margin-top:1em;
    font-size: x-large;
}

.dz-preview{
    display:none;
}

#upload_progress{
    display:none;
    height:25px;
    width: 50%;
    margin: 60px 0;
    border: 2px solid var(--color-light);
    border-radius: 5px;
    position: absolute;
    bottom:0px;
    margin-top: 20px;
    left:25%;
}
#upload_progress span{
    display: inline-block;
    height: 25px;
    width: 0%;
    background: var(--color-light);
    border-radius: 5px;
    position: absolute;
    left:0;
}
#upload_progress div{
    display: inline-block;
    font-size: small;
    position:absolute;
    top:20%;
    color: var(--color-white);
}