#name_bar *{
    display:inline-block;
    margin-bottom:50px;
}

#playlist_right_container{
    margin-top: 20px;
    float: right;
}

#playlist_name{
    margin-left:3px;
    padding: 5px;
    border-radius: 5px;
    transition:0.15s;
}
#playlist_name:hover, #playlist_name:focus{
    cursor: pointer;
    background-color: var(--color-medium);
    color: var(--color-darkest)
}

#drawings_ul{
    padding: 0px;
}

#drawings_ul li{
    cursor: pointer;
}

.playlist_drawing_preview{
    width:90%;
    max-width: 230px;
}